# ===== IDE =====
.idea/

# ===== Anomalib output =====
models/
datasets/
results/

# ===== Temp images =====
**/Temp/
heatmap.png

# ===== Environment =====
.env

# ===== Python =====
__pycache__/
*.pyc
